* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container__row__purchases{
        display: flex;
        flex-direction: column;
        align-items: center;
}
.container__row__purchases h1{
       margin-top: 30px;
       margin-right: auto;
    
}
.container__purchases{
     border: 1px solid rgb(179, 175, 175);
     margin: 5px;
     width: 70%;
     margin-bottom: 30px;
     border-radius: 5px;
     height: auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 10px;
     margin-top: 30px;
     
}
.home__ecommers{
          text-decoration: none;
          color: rgb(96, 96, 100);
          font-size: 19px;
          margin: auto;
          display: flex;
          margin-left: 10px;
}
.home__ecommers__rute{
     text-decoration: none;
     color: initial;
     font-size: 19px;
     margin: auto

}
.point__ecommers{
       width: 10px;
       height: 10px;
       border-radius: 50%;
       background: #de2a1d;
       display: flex;
       margin-top: 10px;
       margin-left: 10px;
       margin-right: 5px;
}
.container__purchases a
 {
    text-decoration: none;
    color: initial;
    font-size: 19px;
    margin: auto;
    width: 80%;
}
.container__purchases li {
     text-decoration: none;
     color: grey;
     font-size: 19px;
     list-style-type: none;
     padding: 10px;
     font-size: 15px; 
     border-bottom: 1px solid rgb(216, 213, 213);
     width:100%;
     margin:auto;

}
.cart_purchases{
     display: grid;
     grid-gap: 1rem;
     grid-template-columns: 60% 10% 30%;
     justify-items: center;
     justify-content: center;
     padding: 5px;
     margin: auto;
     width: 80%;
    
}
.cart__purchases__conter{
          border: 2px solid rgb(247, 242, 242);
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;

}